<%- model_class = Album -%>
<div class="page-header">
  <h1><%= model_class.model_name.human.pluralize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:artist) %></th>
      <th><%= model_class.human_attribute_name(:genre) %></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.title, album_path(album) %></td>
        <td><%= album.artist %></td>
        <td><%= album.genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add', new_album_path, :class => 'btn btn-primary' %>
