<%- model_class = Album -%>
<div class="page-header">
  <h1><%= model_class.model_name.human %></h1>
</div>

<div class="row">
  <% if @album.cover.present? %>
    <div class="span4">
      <div class="media album_cover" >
        <p>
          <%= image_tag @album.cover_url.to_s,
            :class=>"img-polaroid #{@cover_size || 'large'}_cover"%>
        </p>
        <p>
          <%= link_to (@cover_size=='small' ? 'large' : 'small'),
            "/albums/#{@album.to_param}?cover_size=#{@cover_size=='small' ? 'large' : 'small'}"%>
        </p>
      </div>
    </div>
  <% end %>
  <div class='span8'>
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @album.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:artist) %>:</strong></dt>
      <dd><%= @album.artist %></dd>
      <dt><strong><%= model_class.human_attribute_name(:genre) %>:</strong></dt>
      <dd><%= @album.genre %></dd>
      <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
      <dd><%= @album.year %></dd>
      <dt><strong><%= model_class.human_attribute_name(:number_of_tracks) %>:</strong></dt>
      <dd><%= @album.number_of_tracks %></dd>
      <dt><strong><%= model_class.human_attribute_name(:number_of_discs) %>:</strong></dt>
      <dd><%= @album.number_of_discs %></dd>
    </dl>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'Back', albums_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_album_path(@album), :class => 'btn'  %>
  <%= link_to('Remove', album_path(@album),
                        :method => :delete,
                        :data => { :confirm => 'Are you sure?' },
                        :class => 'btn') %>
</div>

